# My Jupyter Notebook on Watson Studio

**Ishaan Yadav**
Currently studying

*I am interested in data science so that I can analyze my findings*

### Code for multiplying two numbers

In [1]:
print("the product of 76 and 123 is",76*123)

the product of 76 and 123 is 9348

Now we let us see a list of animals
***
1. Tiger
2. Lion
3. jaguar

Month|Year|Date
---|---|---
jan|1999|09
feb|1872|23